*{
	padding:0;
	margin:0;
	font-family: sans-serif;
}
.jumbotron {
	padding: 30px;
	height: 300px;
	background-color: #ffa500;
}
.jumbotron span{
	color: #f1f1f1;
}
.container {
	width:90%;
	margin:0 auto;
}
.container::after {
	content: '';
	display: block;
	clear: both;
}
header {
   display: inline;
}
.profil{
	float: right;
	width: 20%;
}
.profil img {
	display: inline-block;
	width: 200px;
	border-radius: 10px;
	box-shadow: 0 3px 5px #ddd;
}
.image-pendaftaran{
	height: 600px;
	width: 400px;
}
#Pendaftaran a{
	color: #05803d;
}
img {
	border-radius: 10px;
	box-shadow: 0 3px 5px #ddd;
}
nav {
	background-color: #424541;
	padding: 10px;
	position: sticky;
   top: 0;
}
nav ul li {
	padding: 20px;
	display: inline-block;
}
nav ul li a:hover {
	color: #F84744;
}
a {
	text-decoration: none;
	color: #f1f1f1;
}
section {
	padding:50px 0;
}
article p {
	text-align: justify;
	text-indent: 30px;
	line-height: 25px;
	margin-bottom: 15px;
}
aside h2 {
	text-align: center;
}
.center{
	text-align: center;
}
section h3 {
	padding-bottom: 20px;
	text-align: center;
	margin:20px;
	position: relative;
}
section h3::before {
	content:'';
	display: block;
	position: absolute;
	bottom: 0;
	width:120px;
	height:3px;
	background-color: #ffa500;
	left: calc(50% - 60px);
}
.col-4 {
	width:25%;
	box-sizing: border-box;
	padding:5px;
	float: left;
	text-align: center;
	margin-bottom: 15px;
}
.col-4 img {
	width:100%;
}
.col-4 a:hover img {
	transform: scale(1.5);
}
.col-3 {
	width:33.33%;
	box-sizing: border-box;
	float: left;
	text-align: center;
	padding:50px 10px;
}
.col-4 img {
	height: 100px;
	width: 200px;
}
.card {
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	margin-bottom: 50px;
}
#location{
	display: flex;
	margin: 0 -5px;
}
#location img{
	height: 200px;
	width: 400px;
	margin: 0 5px;
}
main {
	padding: 20px;
	overflow: auto;
}
#content {
	float: left;
	width: 72%;
}
aside {
	float: right;
	width: 25%;
	padding-left: 20px;
}
footer {
	background-color: #333;
	padding:30px;
	text-align: center;
}
footer small {
	color: #fff;
}
@media (max-width: 768px){
	.col-4 {
		width:50%;
	}
	.col-3 {
		width:100%;
	}
	aside{
		float: left;
		width: 100%;
	}
	main{
		width: 100%;
	}
}
html {
	scroll-behavior: smooth;
}